In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
j2010 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2010-06-01' AND '2010-06-30') ORDER BY Measurement.date").fetchall()
j2011 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2011-06-01' AND '2011-06-30') ORDER BY Measurement.date").fetchall()
j2012 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2012-06-01' AND '2012-06-30') ORDER BY Measurement.date").fetchall()
j2013 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2013-06-01' AND '2013-06-30') ORDER BY Measurement.date").fetchall()
j2014 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2014-06-01' AND '2014-06-30') ORDER BY Measurement.date").fetchall()
j2015 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2015-06-01' AND '2015-06-30') ORDER BY Measurement.date").fetchall()
j2016 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2016-06-01' AND '2016-06-30') ORDER BY Measurement.date").fetchall()
j2017 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2017-06-01' AND '2017-06-30') ORDER BY Measurement.date").fetchall()

j2010

[('2010-06-01', 78.0),
 ('2010-06-01', 74.0),
 ('2010-06-01', 73.0),
 ('2010-06-01', 77.0),
 ('2010-06-01', 69.0),
 ('2010-06-01', 76.0),
 ('2010-06-01', 71.0),
 ('2010-06-01', 74.0),
 ('2010-06-01', 70.0),
 ('2010-06-02', 76.0),
 ('2010-06-02', 76.0),
 ('2010-06-02', 72.0),
 ('2010-06-02', 76.0),
 ('2010-06-02', 70.0),
 ('2010-06-02', 76.0),
 ('2010-06-02', 71.0),
 ('2010-06-02', 76.0),
 ('2010-06-02', 78.0),
 ('2010-06-03', 78.0),
 ('2010-06-03', 75.0),
 ('2010-06-03', 74.0),
 ('2010-06-03', 77.0),
 ('2010-06-03', 67.0),
 ('2010-06-03', 76.0),
 ('2010-06-03', 72.0),
 ('2010-06-03', 78.0),
 ('2010-06-03', 73.0),
 ('2010-06-04', 76.0),
 ('2010-06-04', 75.0),
 ('2010-06-04', 73.0),
 ('2010-06-04', 75.0),
 ('2010-06-04', 70.0),
 ('2010-06-04', 73.0),
 ('2010-06-04', 72.0),
 ('2010-06-04', 74.0),
 ('2010-06-04', 68.0),
 ('2010-06-05', 77.0),
 ('2010-06-05', 74.0),
 ('2010-06-05', 72.0),
 ('2010-06-05', 73.0),
 ('2010-06-05', 78.0),
 ('2010-06-05', 76.0),
 ('2010-06-05', 79.0),
 ('2010-06-05', 79.0),
 ('2010-06-06', 78.0),
 ('2010-06-06', 75.0),
 ('2010-06-06', 75.0),
 ('2010-06-06', 73.0),
 ('2010-06-06', 77.0),
 ('2010-06-06', 77.0),
 ('2010-06-06', 79.0),
 ('2010-06-06', 74.0),
 ('2010-06-07', 77.0),
 ('2010-06-07', 75.0),
 ('2010-06-07', 74.0),
 ('2010-06-07', 76.0),
 ('2010-06-07', 77.0),
 ('2010-06-07', 71.0),
 ('2010-06-07', 69.0),
 ('2010-06-07', 75.0),
 ('2010-06-08', 78.0),
 ('2010-06-08', 75.0),
 ('2010-06-08', 75.0),
 ('2010-06-08', 79.0),
 ('2010-06-08', 77.0),
 ('2010-06-08', 73.0),
 ('2010-06-08', 77.0),
 ('2010-06-08', 71.0),
 ('2010-06-09', 78.0),
 ('2010-06-09', 75.0),
 ('2010-06-09', 73.0),
 ('2010-06-09', 79.0),
 ('2010-06-09', 72.0),
 ('2010-06-09', 78.0),
 ('2010-06-09', 73.0),
 ('2010-06-09', 80.0),
 ('2010-06-09', 75.0),
 ('2010-06-10', 79.0),
 ('2010-06-10', 75.0),
 ('2010-06-10', 75.0),
 ('2010-06-10', 77.0),
 ('2010-06-10', 72.0),
 ('2010-06-10', 78.0),
 ('2010-06-10', 75.0),
 ('2010-06-10', 75.0),
 ('2010-06-11', 78.0),
 ('2010-06-11', 83.0),
 ('2010-06-11', 76.0),
 ('2010-06-11', 77.0),
 ('2010-06-11', 76.0),
 ('2010-06-11', 81.0),
 ('2010-06-11', 75.0),
 ('2010-06-12', 78.0),
 ('2010-06-12', 75.0),
 ('2010-06-12', 74.0),
 ('2010-06-12', 70.0),
 ('2010-06-12', 76.0),
 ('2010-06-12', 74.0),
 ('2010-06-12', 78.0),
 ('2010-06-13', 78.0),
 ('2010-06-13', 76.0),
 ('2010-06-13', 74.0),
 ('2010-06-13', 78.0),
 ('2010-06-13', 79.0),
 ('2010-06-13', 77.0),
 ('2010-06-14', 77.0),
 ('2010-06-14', 73.0),
 ('2010-06-14', 73.0),
 ('2010-06-14', 74.0),
 ('2010-06-14', 70.0),
 ('2010-06-14', 71.0),
 ('2010-06-14', 76.0),
 ('2010-06-15', 78.0),
 ('2010-06-15', 74.0),
 ('2010-06-15', 73.0),
 ('2010-06-15', 76.0),
 ('2010-06-15', 73.0),
 ('2010-06-15', 75.0),
 ('2010-06-15', 69.0),
 ('2010-06-15', 76.0),
 ('2010-06-16', 78.0),
 ('2010-06-16', 74.0),
 ('2010-06-16', 76.0),
 ('2010-06-16', 77.0),
 ('2010-06-16', 76.0),
 ('2010-06-16', 70.0),
 ('2010-06-16', 74.0),
 ('2010-06-16', 73.0),
 ('2010-06-17', 77.0),
 ('2010-06-17', 75.0),
 ('2010-06-17', 75.0),
 ('2010-06-17', 76.0),
 ('2010-06-17', 75.0),
 ('2010-06-17', 75.0),
 ('2010-06-17', 72.0),
 ('2010-06-17', 78.0),
 ('2010-06-17', 73.0),
 ('2010-06-18', 77.0),
 ('2010-06-18', 70.0),
 ('2010-06-18', 70.0),
 ('2010-06-18', 73.0),
 ('2010-06-18', 70.0),
 ('2010-06-18', 73.0),
 ('2010-06-18', 71.0),
 ('2010-06-18', 72.0),
 ('2010-06-19', 82.0),
 ('2010-06-19', 74.0),
 ('2010-06-19', 75.0),
 ('2010-06-19', 74.0),
 ('2010-06-19', 76.0),
 ('2010-06-19', 77.0),
 ('2010-06-19', 78.0),
 ('2010-06-19', 74.0),
 ('2010-06-20', 78.0),
 ('2010-06-20', 75.0),
 ('2010-06-20', 73.0),
 ('2010-06-20', 77.0),
 ('2010-06-20', 78.0),
 ('2010-06-20', 76.0),
 ('2010-06-20', 85.0),
 ('2010-06-21', 78.0),
 ('2010-06-21', 75.0),
 ('2010-06-21', 74.0),
 ('2010-06-21', 76.0),
 ('2010-06-21', 76.0),
 ('2010-06-21', 74.0),
 ('2010-06-21', 77.0),
 ('2010-06-22', 78.0),
 ('2010-06-22', 75.0),
 ('2010-06-22', 74.0),
 ('2010-06-22', 77.0),
 ('2010-06-22', 69.0),
 ('2010-06-22', 79.0),
 ('2010-06-22', 74.0),
 ('2010-06-22', 76.0),
 ('2010-06-22', 72.0),
 ('2010-06-23', 78.0),
 ('2010-06-23', 75.0),
 ('2010-06-23', 74.0),
 ('2010-06-23', 77.0),
 ('2010-06-23', 73.0),
 ('2010-06-23', 77.0),
 ('2010-06-23', 74.0),
 ('2010-06-23', 76.0),
 ('2010-06-23', 72.0),
 ('2010-06-24', 78.0),
 ('2010-06-24', 75.0),
 ('2010-06-24', 74.0),
 ('2010-06-24', 78.0),
 ('2010-06-24', 73.0),
 ('2010-06-24', 76.0),
 ('2010-06-24', 74.0),
 ('2010-06-24', 75.0),
 ('2010-06-24', 72.0),
 ('2010-06-25', 77.0),
 ('2010-06-25', 74.0),
 ('2010-06-25', 70.0),
 ('2010-06-25', 77.0),
 ('2010-06-25', 74.0),
 ('2010-06-25', 74.0),
 ('2010-06-25', 71.0),
 ('2010-06-25', 71.0),
 ('2010-06-25', 70.0),
 ('2010-06-26', 76.0),
 ('2010-06-26', 72.0),
 ('2010-06-26', 75.0),
 ('2010-06-26', 80.0),
 ('2010-06-26', 70.0),
 ('2010-06-26', 69.0),
 ('2010-06-27', 78.0),
 ('2010-06-27', 76.0),
 ('2010-06-27', 75.0),
 ('2010-06-27', 77.0),
 ('2010-06-27', 80.0),
 ('2010-06-27', 73.0),
 ('2010-06-28', 78.0),
 ('2010-06-28', 73.0),
 ('2010-06-28', 74.0),
 ('2010-06-28', 76.0),
 ('2010-06-28', 73.0),
 ('2010-06-28', 76.0),
 ('2010-06-28', 72.0),
 ('2010-06-28', 77.0),
 ('2010-06-28', 71.0),
 ('2010-06-29', 78.0),
 ('2010-06-29', 75.0),
 ('2010-06-29', 73.0),
 ('2010-06-29', 78.0),
 ('2010-06-29', 72.0),
 ('2010-06-29', 76.0),
 ('2010-06-29', 72.0),
 ('2010-06-29', 70.0),
 ('2010-06-29', 73.0),
 ('2010-06-30', 78.0),
 ('2010-06-30', 76.0),
 ('2010-06-30', 74.0),
 ('2010-06-30', 78.0),
 ('2010-06-30', 75.0),
 ('2010-06-30', 76.0),
 ('2010-06-30', 73.0),
 ('2010-06-30', 73.0),
 ('2010-06-30', 72.0)]

In [5]:
#  3. Convert the June temperatures to a list.
type(j2010)

list

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
j2010_df = pd.DataFrame(j2010, columns = ['Date', 'Temperature'])
j2011_df = pd.DataFrame(j2011, columns = ['Date', 'Temperature'])
j2012_df = pd.DataFrame(j2012, columns = ['Date', 'Temperature'])
j2013_df = pd.DataFrame(j2013, columns = ['Date', 'Temperature'])
j2014_df = pd.DataFrame(j2014, columns = ['Date', 'Temperature'])
j2015_df = pd.DataFrame(j2015, columns = ['Date', 'Temperature'])
j2016_df = pd.DataFrame(j2016, columns = ['Date', 'Temperature'])
j2017_df = pd.DataFrame(j2017, columns = ['Date', 'Temperature'])

j2010_df

           Date  Temperature
0    2010-06-01         78.0
1    2010-06-01         74.0
2    2010-06-01         73.0
3    2010-06-01         77.0
4    2010-06-01         69.0
..          ...          ...
237  2010-06-30         75.0
238  2010-06-30         76.0
239  2010-06-30         73.0
240  2010-06-30         73.0
241  2010-06-30         72.0

[242 rows x 2 columns]

In [7]:
df = j2010_df.append(j2011_df)
df1 = df.append(j2012_df)
df2 = df1.append(j2013_df)
df3 = df2.append(j2014_df)
df4 = df3.append(j2015_df)
df5 = df4.append(j2016_df)
june_df = df5.append(j2017_df)

In [8]:
june_df

           Date  Temperature
0    2010-06-01         78.0
1    2010-06-01         74.0
2    2010-06-01         73.0
3    2010-06-01         77.0
4    2010-06-01         69.0
..          ...          ...
186  2017-06-30         81.0
187  2017-06-30         74.0
188  2017-06-30         75.0
189  2017-06-30         76.0
190  2017-06-30         75.0

[1700 rows x 2 columns]

In [9]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [10]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
d2010 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2010-12-01' AND '2010-12-31') ORDER BY Measurement.date").fetchall()
d2011 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2011-12-01' AND '2011-12-31') ORDER BY Measurement.date").fetchall()
d2012 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2012-12-01' AND '2012-12-31') ORDER BY Measurement.date").fetchall()
d2013 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2013-12-01' AND '2013-12-31') ORDER BY Measurement.date").fetchall()
d2014 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2014-12-01' AND '2014-12-31') ORDER BY Measurement.date").fetchall()
d2015 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2015-12-01' AND '2015-12-31') ORDER BY Measurement.date").fetchall()
d2016 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2016-12-01' AND '2016-12-31') ORDER BY Measurement.date").fetchall()
d2017 = engine.execute("SELECT Measurement.date, Measurement.tobs FROM Measurement WHERE(Measurement.date BETWEEN '2017-12-01' AND '2017-12-31') ORDER BY Measurement.date").fetchall()

d2010

[('2010-12-01', 76.0),
 ('2010-12-01', 73.0),
 ('2010-12-01', 73.0),
 ('2010-12-01', 72.0),
 ('2010-12-01', 78.0),
 ('2010-12-01', 72.0),
 ('2010-12-01', 70.0),
 ('2010-12-01', 71.0),
 ('2010-12-02', 72.0),
 ('2010-12-02', 73.0),
 ('2010-12-02', 75.0),
 ('2010-12-02', 71.0),
 ('2010-12-02', 74.0),
 ('2010-12-02', 71.0),
 ('2010-12-02', 74.0),
 ('2010-12-02', 70.0),
 ('2010-12-03', 74.0),
 ('2010-12-03', 73.0),
 ('2010-12-03', 71.0),
 ('2010-12-03', 70.0),
 ('2010-12-03', 74.0),
 ('2010-12-03', 72.0),
 ('2010-12-03', 74.0),
 ('2010-12-03', 67.0),
 ('2010-12-04', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-04', 72.0),
 ('2010-12-04', 78.0),
 ('2010-12-04', 74.0),
 ('2010-12-04', 75.0),
 ('2010-12-04', 77.0),
 ('2010-12-05', 73.0),
 ('2010-12-05', 71.0),
 ('2010-12-05', 73.0),
 ('2010-12-05', 78.0),
 ('2010-12-05', 66.0),
 ('2010-12-05', 69.0),
 ('2010-12-05', 69.0),
 ('2010-12-06', 64.0),
 ('2010-12-06', 66.0),
 ('2010-12-06', 64.0),
 ('2010-12-06', 66.0),
 ('2010-12-06', 78.0),
 ('2010-12-06', 61.0),
 ('2010-12-06', 61.0),
 ('2010-12-06', 65.0),
 ('2010-12-06', 61.0),
 ('2010-12-07', 64.0),
 ('2010-12-07', 64.0),
 ('2010-12-07', 71.0),
 ('2010-12-07', 66.0),
 ('2010-12-07', 76.0),
 ('2010-12-07', 69.0),
 ('2010-12-07', 58.0),
 ('2010-12-07', 66.0),
 ('2010-12-07', 62.0),
 ('2010-12-08', 67.0),
 ('2010-12-08', 66.0),
 ('2010-12-08', 62.0),
 ('2010-12-08', 67.0),
 ('2010-12-08', 73.0),
 ('2010-12-08', 65.0),
 ('2010-12-08', 60.0),
 ('2010-12-08', 68.0),
 ('2010-12-08', 63.0),
 ('2010-12-09', 77.0),
 ('2010-12-09', 75.0),
 ('2010-12-09', 70.0),
 ('2010-12-09', 76.0),
 ('2010-12-09', 74.0),
 ('2010-12-09', 77.0),
 ('2010-12-09', 71.0),
 ('2010-12-09', 77.0),
 ('2010-12-09', 73.0),
 ('2010-12-10', 66.0),
 ('2010-12-10', 65.0),
 ('2010-12-10', 64.0),
 ('2010-12-10', 68.0),
 ('2010-12-10', 63.0),
 ('2010-12-10', 67.0),
 ('2010-12-10', 65.0),
 ('2010-12-10', 65.0),
 ('2010-12-10', 64.0),
 ('2010-12-11', 69.0),
 ('2010-12-11', 69.0),
 ('2010-12-11', 64.0),
 ('2010-12-11', 72.0),
 ('2010-12-11', 69.0),
 ('2010-12-11', 72.0),
 ('2010-12-11', 72.0),
 ('2010-12-11', 67.0),
 ('2010-12-12', 68.0),
 ('2010-12-12', 71.0),
 ('2010-12-12', 70.0),
 ('2010-12-12', 75.0),
 ('2010-12-12', 70.0),
 ('2010-12-12', 65.0),
 ('2010-12-12', 69.0),
 ('2010-12-13', 68.0),
 ('2010-12-13', 69.0),
 ('2010-12-13', 70.0),
 ('2010-12-13', 69.0),
 ('2010-12-13', 75.0),
 ('2010-12-13', 67.0),
 ('2010-12-13', 68.0),
 ('2010-12-13', 66.0),
 ('2010-12-13', 80.0),
 ('2010-12-14', 71.0),
 ('2010-12-14', 78.0),
 ('2010-12-14', 69.0),
 ('2010-12-14', 71.0),
 ('2010-12-14', 74.0),
 ('2010-12-14', 71.0),
 ('2010-12-14', 67.0),
 ('2010-12-14', 74.0),
 ('2010-12-14', 71.0),
 ('2010-12-15', 74.0),
 ('2010-12-15', 74.0),
 ('2010-12-15', 72.0),
 ('2010-12-15', 70.0),
 ('2010-12-15', 72.0),
 ('2010-12-15', 74.0),
 ('2010-12-15', 71.0),
 ('2010-12-15', 66.0),
 ('2010-12-15', 73.0),
 ('2010-12-16', 67.0),
 ('2010-12-16', 68.0),
 ('2010-12-16', 68.0),
 ('2010-12-16', 68.0),
 ('2010-12-16', 68.0),
 ('2010-12-16', 66.0),
 ('2010-12-16', 65.0),
 ('2010-12-16', 63.0),
 ('2010-12-16', 65.0),
 ('2010-12-17', 66.0),
 ('2010-12-17', 68.0),
 ('2010-12-17', 68.0),
 ('2010-12-17', 66.0),
 ('2010-12-17', 66.0),
 ('2010-12-17', 64.0),
 ('2010-12-17', 63.0),
 ('2010-12-17', 68.0),
 ('2010-12-18', 69.0),
 ('2010-12-18', 70.0),
 ('2010-12-18', 65.0),
 ('2010-12-18', 77.0),
 ('2010-12-18', 65.0),
 ('2010-12-18', 69.0),
 ('2010-12-18', 68.0),
 ('2010-12-19', 71.0),
 ('2010-12-19', 70.0),
 ('2010-12-19', 67.0),
 ('2010-12-19', 70.0),
 ('2010-12-19', 69.0),
 ('2010-12-19', 69.0),
 ('2010-12-19', 69.0),
 ('2010-12-20', 71.0),
 ('2010-12-20', 68.0),
 ('2010-12-20', 73.0),
 ('2010-12-20', 70.0),
 ('2010-12-20', 73.0),
 ('2010-12-20', 72.0),
 ('2010-12-21', 71.0),
 ('2010-12-21', 70.0),
 ('2010-12-21', 71.0),
 ('2010-12-21', 70.0),
 ('2010-12-21', 72.0),
 ('2010-12-21', 69.0),
 ('2010-12-22', 71.0),
 ('2010-12-22', 67.0),
 ('2010-12-22', 71.0),
 ('2010-12-22', 68.0),
 ('2010-12-22', 68.0),
 ('2010-12-22', 69.0),
 ('2010-12-23', 70.0),
 ('2010-12-23', 71.0),
 ('2010-12-23', 73.0),
 ('2010-12-23', 71.0),
 ('2010-12-23', 69.0),
 ('2010-12-23', 67.0),
 ('2010-12-23', 67.0),
 ('2010-12-24', 70.0),
 ('2010-12-24', 69.0),
 ('2010-12-24', 70.0),
 ('2010-12-24', 67.0),
 ('2010-12-24', 71.0),
 ('2010-12-24', 69.0),
 ('2010-12-24', 69.0),
 ('2010-12-25', 69.0),
 ('2010-12-25', 71.0),
 ('2010-12-25', 70.0),
 ('2010-12-25', 74.0),
 ('2010-12-25', 73.0),
 ('2010-12-26', 74.0),
 ('2010-12-26', 72.0),
 ('2010-12-26', 68.0),
 ('2010-12-26', 74.0),
 ('2010-12-26', 71.0),
 ('2010-12-26', 72.0),
 ('2010-12-26', 71.0),
 ('2010-12-27', 74.0),
 ('2010-12-27', 76.0),
 ('2010-12-27', 72.0),
 ('2010-12-27', 76.0),
 ('2010-12-27', 76.0),
 ('2010-12-27', 76.0),
 ('2010-12-27', 71.0),
 ('2010-12-28', 71.0),
 ('2010-12-28', 72.0),
 ('2010-12-28', 69.0),
 ('2010-12-28', 72.0),
 ('2010-12-28', 71.0),
 ('2010-12-28', 70.0),
 ('2010-12-28', 70.0),
 ('2010-12-29', 75.0),
 ('2010-12-29', 73.0),
 ('2010-12-29', 71.0),
 ('2010-12-29', 74.0),
 ('2010-12-29', 72.0),
 ('2010-12-29', 73.0),
 ('2010-12-29', 71.0),
 ('2010-12-30', 75.0),
 ('2010-12-30', 73.0),
 ('2010-12-30', 70.0),
 ('2010-12-30', 75.0),
 ('2010-12-30', 73.0),
 ('2010-12-30', 70.0),
 ('2010-12-30', 70.0),
 ('2010-12-31', 72.0),
 ('2010-12-31', 74.0),
 ('2010-12-31', 75.0),
 ('2010-12-31', 69.0),
 ('2010-12-31', 77.0),
 ('2010-12-31', 76.0),
 ('2010-12-31', 75.0)]

In [11]:
# 7. Convert the December temperatures to a list.
type(d2010)

list

In [12]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
d2010_df = pd.DataFrame(d2010, columns = ['Date', 'Temperature'])
d2011_df = pd.DataFrame(d2011, columns = ['Date', 'Temperature'])
d2012_df = pd.DataFrame(d2012, columns = ['Date', 'Temperature'])
d2013_df = pd.DataFrame(d2013, columns = ['Date', 'Temperature'])
d2014_df = pd.DataFrame(d2014, columns = ['Date', 'Temperature'])
d2015_df = pd.DataFrame(d2015, columns = ['Date', 'Temperature'])
d2016_df = pd.DataFrame(d2016, columns = ['Date', 'Temperature'])
d2017_df = pd.DataFrame(d2017, columns = ['Date', 'Temperature'])

d2010_df

           Date  Temperature
0    2010-12-01         76.0
1    2010-12-01         73.0
2    2010-12-01         73.0
3    2010-12-01         72.0
4    2010-12-01         78.0
..          ...          ...
230  2010-12-31         75.0
231  2010-12-31         69.0
232  2010-12-31         77.0
233  2010-12-31         76.0
234  2010-12-31         75.0

[235 rows x 2 columns]

In [13]:
# append the dataframes
ddf = d2010_df.append(d2011_df)
ddf1 = ddf.append(d2012_df)
ddf2 = ddf1.append(d2013_df)
ddf3 = ddf2.append(d2014_df)
ddf4 = ddf3.append(d2015_df)
ddf5 = ddf4.append(d2016_df)
dec_df = ddf5.append(d2017_df)
dec_df

           Date  Temperature
0    2010-12-01         76.0
1    2010-12-01         73.0
2    2010-12-01         73.0
3    2010-12-01         72.0
4    2010-12-01         78.0
..          ...          ...
195  2016-12-31         66.0
196  2016-12-31         71.0
197  2016-12-31         72.0
198  2016-12-31         67.0
199  2016-12-31         65.0

[1517 rows x 2 columns]

In [14]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       Temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000